.banner {
      position: relative;
      max-width: 1240px;
      margin: auto;
      height: 223px;
      width: 100%;
      margin-bottom: 50px;
      // margin: 50px 100px 43px 100px;
      border-radius: 1rem;
      background-color: #000000;
      box-shadow: var(--bannerShadow);

      @media only screen and (width <= 768px) {
            place-items: flex-start;
            height: 140px;
            display: flex;
            align-items: center;
      }

      @media only screen and (max-width: 480px) {
            .banner {
                  height: 100px;
            }
      }

      &__text {
            position: absolute;
            margin: 0;
            top: 78px;
            left: 273px;
            width: 733px;
            height: 68px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 3rem;
            color: white;
            text-align: center;

            @media only screen and (max-width: 768px) {
                  display: flex;
                  font-size: 24px;
                  width: 225px;
                  text-align: left;
                  left: 16px;
                  top: 31px;
            }

            @media only screen and (max-width: 480px) {
                  font-size: 24px;
                  width: 225px;
                  text-align: left;
            }
      }

      &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../assets/banner.png');
            background-size: cover;
            background-position: center;
            opacity: 0.6;
            border-radius: 1rem;
      }

      &-content {
            position: relative;
            z-index: 1;
            display: grid;
            place-items: center;
            color: white;
      }
}

/* Mobile */
// @media only screen and (width <= 768px) {
//       .banner {
//             place-items: flex-start;
//             height: 140px;
//             display: flex;
//             align-items: center;
//       }
//       .banner__text {
//             display: flex;
//             font-size: 24px;
//             width: 60%;
//             left: 10px;
//       }
// }

// @media only screen and (width <= 480px) {
//       .banner {
//             height: 100px;
//       }
//       .banner__text {
//             font-size: 22px;
//             width: 62%;
//       }
// }
