*,
::after,
::before {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}

body,
html {
      margin: 0;
}

.mainContent {
      max-width: 1240px;
      margin: 0 auto;
      padding-bottom: 50px;

      @media (max-width: 1239px) {
            margin-left: clamp(15px, 10%, 20px);
            margin-right: clamp(15px, 10%, 20px);
      }

      @media only screen and (width <= 768px) {
            padding-bottom: 0;
      }
}
