.home__gallery {
      width: calc(1240px - 100px);
      background-color: var(--bgGallery);
      padding-bottom: 0px;
      border: 1px solid aqua;
      margin: 0 auto;
      background: #f7f7f7;
      min-height: 50vh;
      border-radius: 1.5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 3.75rem;
      row-gap: 3.125rem;
      padding: 56px 50px 43px 50px;
      display: grid; 
      grid-template-columns: repeat(3, 1fr);
}
