.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 45px 0 50px 0;
      margin: auto;
      max-width: 1240px;
      width: 100%;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
            width: 768px;
            padding-top: 30px;
            padding-bottom: 40px;
            margin-bottom: 30px;
      }

      @media only screen and (width <= 768px) {
            padding: 20px 0 27px 0;
            min-width: 335px;
      }

      .logo {
            img {
                  width: 210px;
                  height: 68px;

                  @media only screen and (width <= 768px) {
                        width: 125px;
                        height: 45px;
                  }
            }
      }
}
