@import '../settings.scss';

.navbar {
      align-items: center;
      font-weight: 400;
      min-width: 20%;
      font-style: normal;
      font-size: 24px;
      font-family: $font-stack;

      ul {
            display: flex;
            justify-content: right;
            gap: 3.563rem;
            width: 309px;
            height: 34px;
            top: 17px;
            align-items: center;
            position: relative;
            list-style-type: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
      }

      li{
            text-decoration: none;
            font-weight: 500;
            color: $black;

            &:hover,
            &.active {
                  text-decoration: underline;
            }
      }

      // li {
      //       text-decoration: none;
      //       font-weight: 500;
      //       color: var(--black);

      //       &:hover {
      //             text-decoration: underline;
      //             color: var(--black);
      //       }

      //       &.active {
      //             text-decoration: underline; // Appliquez le style lorsque le lien est actif
      //             //font-weight: bold; // Par exemple, vous pouvez appliquer un style différent lorsque le lien est actif
      //       }
      // }
}
