.about__container {
      display: flex;
      flex-direction: column;
      padding-inline: 6rem;
      gap: 30px;
      margin: 0;

      @media only screen and (width <= 768px) {
            margin: 22px 0px;
            padding: 0;
            display: grid;
            width: 100%;
      }

      .collapse__panel {
            width: 1023px;
            @media only screen and (width <= 768px) {
                  width: 100%;
            }

            .collapse__header {
                  font-size: 24px;
                  @media only screen and (width <= 768px) {
                        font-size: 13px;
                  }

                  i {
                        font-size: 24px;
                        @media only screen and (width <= 768px) {
                              font-size: 13px;
                        }
                  }
            }
      }
}

.about {
      &__img {
            height: 223px;
            margin-bottom: 38px;

            .image__banner_img {
                  height: 223px;

                  .image__container {
                        height: 223px;

                        img {
                              height: 223px;
                        }
                  }
            }

            @media only screen and (max-width: 768px) {
                  height: 111px;

                  .image__banner_img {
                        height: 111px;
                  }

                  .image__container {
                        height: 111px;

                        img {
                              height: 111px;
                        }
                  }
            }
      }
}
