.about__container {
      padding-inline: 6rem;
      margin-bottom: 5rem;
      width: 1240px;
      margin:  0 108.5px;
      margin: 0 auto;
      // align-items: center;
      // display: flex;
      // flex-direction: column;
}

.about__img :last-child {
      height: 16rem;
}
