@import '../settings.scss';

.header {
      padding-top: 40px;
}
.error-page {
      color: $red;
      font-family: $font-stack;
      text-align: center;
      margin-bottom: 8.688rem;

      @media only screen and (width <= 768px) {
            margin-bottom: 113px;
      }

      div {
            h1 {
                  font-size: 18rem;
                  font-weight: 700;
                  margin: 8.688rem 0;

                  @media only screen and (width <= 768px) {
                        font-size: 6.125rem;
                        margin: 86px 0 113px 0;
                  }
            }

            .error-message {
                  display: flex;
                  justify-content: center;
                  gap: 5px;

                  @media only screen and (width <= 768px) {
                        display: block;
                        padding-bottom: 113px;
                  }
            }

            p {
                  font-size: 32px;
                  font-weight: 500;
                  margin-bottom: 8.688rem;
                  margin-top: 0;

                  @media only screen and (width <= 768px) {
                        font-size: 1.125rem;
                        margin: 0;
                  }
            }
      }

      a {
            text-decoration: none;
            color: $black;
            text-decoration: underline;
      }
}
