.navbar {
      align-items: center;
      font-weight: 400;
      min-width: 20%;
      font-style: normal;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;

      ul {
            display: flex;
            justify-content: right;
            gap: 3.563rem;
            width: 309px;
            height: 34px;
            top: 17px;
            align-items: center;
            position: relative;
            list-style-type: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
      }

      li {
            text-decoration: none;
            font-weight: 500;
            color: var(--black);

            &:hover,
            &.active {
                  text-decoration: underline;
            }
      }
}
